/* Google Fonts */



/* Variables */

:root{
    --ElementsColor: rgb(0, 0, 0);
    --MainColor: rgb(202, 192, 201);
    --SecondaryColor: rgb(198, 206, 197);
}



/* Header */

body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
body > #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--MainColor);
}
#header > ul {
    display: none;
    padding: 0;
}
#header > ul > li > a{
    text-decoration: none;
    color: var(--ElementsColor);
}
#header > ul > li {
    list-style: none;
    padding: .9rem 0;
    text-align: center;
}
#header > p {
    padding: 1rem .5rem;
    color: var(--ElementsColor);
    font-size: x-large;
    margin: 1rem;
}
#header > input[type="checkbox"] {
    display: none;
}
#header > label{
    position: absolute;
    right: 1rem;
    padding: 1rem;
    font-size: xx-large;
    font-weight: 900;
    color: var(--ElementsColor);
    cursor: pointer;
    user-select: none;
}
#header > label:hover{
    color: var(--SecondaryColor)
}

#bttnMenu:checked ~ ul{
    display: block;
}
#bttnMenu:checked + label{
    color: var(--SecondaryColor)
}


/* Pantalla Principal*/

.bttnSubject{
    width: 100%;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bttnSubject > p {
    background-color: var(--SecondaryColor);
    width: fit-content;
    padding: .5em 1em;
    border-radius: 1em;
    color: var(--ElementsColor);
    text-align: center;
}
#subjectEsp{
    background-image: url(src/other/español.png);
}
#subjectHL{
    background-image: url(src/other/historiaLengua.gif);
    background-position-y: center;
}
#subjectMat{
    background-image: url(src/other/matemáticasA.jpg);
    background-position: center;
}
#subjectLogi{
    background-image: url(src/other/filosofíaC.jpg);
    background-position: center top;
}
a:has(.bttnSubject){
    text-decoration: none;
}

/*Footer*/
footer{
    background-color: var(--SecondaryColor);
    text-align: end;
    color: rgba(0, 0, 0, 0.548);
}

/* Unidades*/

#unidad1>p{    
    background-color: rgb(163, 211, 177);
}
#unidad2>p{ 
    background-color: rgb(202, 154, 154);
}
a:has(#unidad1){
    display: flex;
}
a:has(#unidad2){
    display: flex;
    background-position: right;
}
#español a:has(#unidad1){
    background-image: url(src/other/español.png);
}
#español a:has(#unidad2){
    background-image: url(src/other/español.png);
}
#matematicas a:has(#unidad1){
    background-image: url(src/other/matemáticasA.jpg);
    display: flex;
}
#matematicas a:has(#unidad2){
    background-image: url(src/other/matemáticasA.jpg);
}
#logica a:has(#unidad1){
    background-image: url(src/other/filosofíaC.jpg);
}
#logica a:has(#unidad2){
    background-image: url(src/other/filosofía.jpg);
}
#hl a:has(#unidad1){
    background-image: url(src/other/historiaLengua.gif);
}
#hl a:has(#unidad2){
    background-image: url(src/other/historiaLengua.gif);    
}

/* Contenidos */
#contenidos main{
    display: block;
}
.sangría{
    padding-left: 1rem;
}
#contenidos h3{
    font-weight: normal;
    margin-bottom: -16px;
}
aside{
    display: none;
}
#contenidos>div>img{
        background-image: url(src/other/español.png);
        background-repeat: repeat-x;
        height: 7rem;
        width: 100%;
    }
span{
    display: block;
    margin: -16px 0 16px 0;
}

/* Full Screen*/

@media screen and (min-width: 768px){
    /*Header*/
    #bttnMenu:checked ~ ul{
        display: flex;
    }
    #header > ul{
        display: flex;
        margin-left: auto;
    }
    body > #header{
        flex-direction: row;
    }
    #header > ul > li {
        padding: 1rem;
    }
    #header > label{
        display: none;
    }


    /*Menús materias*/
    
    .adaptativo{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        height: 90vh;
    }
    a:has(.bttnSubject){
        display: grid;
    }

    /* Contenidos */
    #contenidos>div{
        display: grid;
        grid-template-columns: 5fr 1fr;
    }
    #contenidos aside{
        display: block;
        background-color: var(--SecondaryColor);
        grid-row: span 20;
    }
    #contenidos main{
        margin: 1.5rem;
        padding: 1rem 1rem 1rem 2rem;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 1rem;
    }

}
